.container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(110%, 50%);
    width: 30%;
    height: auto;
    padding: 20px;
    background-color: rgba(17, 16, 16, 0.887);
    border-radius: 20px;
    color: #ffff;
}

.container h3{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffff;
}